node_modules
node_modules/
node_modules/*
*/.env
src/.env
.env
.env.*
.env*
!.env.example
src/data/*
src/data/stats.db
!src/data/.gitkeep
dist
dist/
dist/*
!.gitkeep
!*/.gitkeep
.log
*.log
.DS_Store
.vscode
.vscode/
.vscode/*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.db
*.sqlite
*.sqlite3
Thumbs.db
*.code-workspace
*.tsbuildinfo
coverage/
tmp/
temp/
*.tmp
tmp/*
temp/*
.gitignore~